[submodule "pack/persistent/start/securemodelines"]
	path = pack/persistent/start/securemodelines
	url = https://github.com/ciaranm/securemodelines
[submodule "conf/pack.available/ack.vim"]
	path = conf/pack.available/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "conf/pack.available/ale"]
	path = conf/pack.available/ale
	url = https://github.com/dense-analysis/ale
[submodule "conf/pack.available/ctrlp.vim"]
	path = conf/pack.available/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "conf/pack.available/fzf"]
	path = conf/pack.available/fzf
	url = https://github.com/junegunn/fzf
[submodule "conf/pack.available/fzf.vim"]
	path = conf/pack.available/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "conf/pack.available/lightline.vim"]
	path = conf/pack.available/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "conf/pack.available/lightline-bufferline"]
	path = conf/pack.available/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline
[submodule "conf/pack.available/nerdtree"]
	path = conf/pack.available/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "conf/pack.available/pudb.vim"]
	path = conf/pack.available/pudb.vim
	url = https://github.com/SkyLeach/pudb.vim
[submodule "conf/pack.available/vim-gitgutter"]
	path = conf/pack.available/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "conf/pack.available/vim-indent-guides"]
	path = conf/pack.available/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "conf/pack.available/vim-multiple-cursors"]
	path = conf/pack.available/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
