[submodule "pack/github/opt/vim-spell-under"]
	path = pack/github/opt/vim-spell-under
	url = git@github.com:osamuaoki/vim-spell-under.git
[submodule "pack/github/opt/securemodelines"]
	path = pack/github/opt/securemodelines
	url = https://github.com/ciaranm/securemodelines
[submodule "pack/github/opt/qlist"]
	path = pack/github/opt/qlist
	url = https://github.com/romainl/vim-qlist.git
[submodule "pack/github/opt/orgmode"]
	path = pack/github/opt/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "pack/github/opt/vim-airline"]
	path = pack/github/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/github/opt/vim-airline-themes"]
	path = pack/github/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/github/opt/vim-better-whitespace"]
	path = pack/github/opt/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "pack/github/opt/vim-indent-guides"]
	path = pack/github/opt/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "pack/github/opt/vim-python-matchit"]
	path = pack/github/opt/vim-python-matchit
	url = git@github.com:osamuaoki/vim-python-matchit.git
	branch = main
[submodule "pack/github/opt/vim-gitgutter"]
	path = pack/github/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/github/opt/ale"]
	path = pack/github/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/github/opt/fzf"]
	path = pack/github/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/github/opt/fzf.vim"]
	path = pack/github/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/github/opt/vim-lsp"]
	path = pack/github/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/github/opt/vim-lsp-ale"]
	path = pack/github/opt/vim-lsp-ale
	url = https://github.com/rhysd/vim-lsp-ale.git
